appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.1
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
distlib==0.3.0
Django==2.2
django-appconf==1.0.4
django-bootstrap-form==3.4
django-countries==6.1.2
django-crispy-forms==1.9.0
django-helpdesk==0.2.21
django-imagekit==4.0.2
django-markdown-deux==1.0.5
django-mathfilters==1.0.0
django-taggit==1.2.0
django-tempus-dominus==5.1.2.13
email-reply-parser==0.5.9
filelock==3.0.12
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
markdown2==2.3.8
mccabe==0.6.1
mysqlclient==1.4.6
pilkit==2.0
Pillow==7.1.2
pylint==2.5.2
python-decouple==3.3
pytz==2020.1
razorpay==1.2.0
requests==2.23.0
simplejson==3.17.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
toml==0.10.0
urllib3==1.25.9
virtualenv==20.0.20
wrapt==1.12.1
